{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}
{% block body %}
    <section  style="text-align: center">
        <h1>Accès interdit</h1>
    </section>

{% endblock %}
