{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}
{% block body %}
    <section  style="text-align: center">
        <h1>Une erreur s'est produite.</h1>
    </section>

{% endblock %}
